<html>

<head>
    <link rel="stylesheet" href="battle.css">
</head>

<body>
    <div id="battle">
        <div id="enemy">
            <div id="enemy-sprite">

            </div>
            <div id="enemy-info">
                <span class="doll-name">PIDGEY</span>
                <span class="doll-level-label">
                    Lv<span class="doll-level-number">100</span>
                </span>
                <div class="hpbar"></div>
                <div class="hpbar-current"></div>
            </div>
        </div>
        <div id="player">
            <div id="player-sprite" class="sprite">

            </div>
            <div id="player-info">
                <span class="doll-name">PIDGEY</span>
                <span class="doll-level-label">
                    Lv<span class="doll-level-number">100</span>
                </span>
                <div class="hpbar"></div>
                <div class="hpbar-current"></div>
                <p class="hpbar-label">
                    <span>114</span>
                    /
                    <span>114</span>
                </p>
            </div>
        </div>
        <div id="message">
            <p>
                The Wild Pidgey Appeared!
            </p>
            <div id="selection">
                <div class="select-button"></div>
                <div class="select-button"></div>
                <div class="select-button"></div>
                <div class="select-button"></div>
            </div>
        </div>
    </div>
</body>

</html>