<html>
    <head>
        <title></title>
        <script
            src="http://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <!-- Models -->
        <script src="../model/stat-editor/stat-editor.js"></script>
        <!-- Controllers -->
        <script src="../controller/stat-editor-controller.js"></script>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
            </tbody>
        </table>
    </body>
</html>
